.header
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-header
        a.navbar-brand(href="/") Cedrus
      div#navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a Home
          li
            a(ng-inlude="'about.jade'") About
