extends layout
block content
  div.title
    h1 Sample Blog
    p Welcome to the Sample posts

  body
    div.list-group.container(ng-controller = "MainCtrl")
      div(ng-repeat = "post in posts")
          div(class = "list-group-item")
            h3 Title: {{post.title}}
            div
            h5 Post: {{post.body}}
            button.btn.btn-success.comment(ng-click = "loadComments(post); showComments = !showComments") Show Comments
            div(ng-repeat = "comment in post.comments" ng-show = "showComments")
              div.comment E-mail:{{comment.email}}
              div.well.well-lg {{comment.name}}
