doctype html
html(ng-app='MyApp')

  head
    title= title
    base(href='/')
    include ./includes/navbar.jade

    //- CSS Files
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- Javascript Files
    script(src='/jquery/dist/jquery.js')
    script(src='/angular/angular.js')
    script(src='/angular-route/angular-route.js')
    script(src='/angular-ui-router/release/angular-ui-router.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/app.js')
    script(src='/javascripts/controllers/main.controller.js')
    script(src='/javascripts/controllers/about.controller.js')
    script(src='/javascripts/services/ProjectApi.factory.js')

  body
    div.title
      h1 Sample Blog
      p Welcome to the Sample posts
    div(ng-view)
    include ./includes/footer.jade
