doctype html
html(ng-app='MyApp')

  head
    title= title

    //- CSS Files
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- Javascript Files
    script(src='/jquery/dist/jquery.js')
    script(src='/angular/angular.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/javascripts/controllers/main.controller.js')
    script(src='/javascripts/services/ProjectApi.factory.js')

  body
//- Navbar
.header
    .navbar.navbar-inverse(role='navigation')
          .navbar-header
            a.navbar-brand(href='/') Cedrus
          #js-navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a Home
    block content
