body
  div.container.sign-up(ng-controller = "StepTwoCtrl")
    h3.header MAKE AN ACCOUNT
    div.row
      form.col.s12(name='formValidation')
        div.row
          div.input-field.col.s6
            input.validate(type="email", ng-model= 'newUser.email',required)
            label.input-error(for="icon_prefix" data-error="Not a Valid E-mail" data-success="Correct!") Email
        div.row
          div.input-field.col.s6
            input.validate(type="password", ng-model= 'newUser.password', required)
            label(for="icon_prefix") Password
        div.row
          button.btn.waves-effect.waves-light(type="submit",
                                              name="action",
                                              ng-click="verify()",
                                              ng-disabled="formValidation.$invalid") Next
