.header(ng-controller = "NavCtrl")
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-header
        a.navbar-brand(href="/") Cedrus
      div#navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/about") About
          li
            a(href="/contactUs") Contact Us
          li
            a(href="/posts") Posts
          li
            a(ng-hide="current_user" href="/login") Login
          li
            a(ng-show="current_user" href="/logout" target="_self") Logout
